@import '../../../utils/varialables.scss';

.customSelect {
  position: relative;
  cursor: pointer;
}

.customSelect__header {
  height: 42px;
  padding: 10px;
  border: 1px solid $subtext-dark;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.customSelect__arrow {
  margin-left: 10px;
}

.customSelect__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.customSelect__list__item {
  padding: 10px;
  &:hover {
   opacity: .5;
  }
}


.isOpened {
  transform: rotate(180deg);
}