@import "../../utils/varialables.scss";

.infoOfCalc {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: $c-color-dark;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  color: white;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &__list {
    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
