@import "../../utils/varialables.scss";

.infoOfCalc {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;

  &__list {
    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &__input {
        max-width: max-content;
        text-align: right;
      }
    }
  }
}
