.burger {
  position: absolute;
  width: 98%;
  top: 57px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__right {
    &__title {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &__item {
        font-size: 16px;
        margin-top: 20px;
        margin-right: 20px;
      }
    }
  }
}
