@import "../../../utils/varialables.scss";

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: $c-color-dark;
  color: $subtext-dark;

  &__text {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 15px;
  }
}
