@import "../../utils/varialables.scss";

.itemCard {
  display: flex;
  width: fit-content;
  width: 100%;
  margin-top: 15px;
  padding: 15px;

  &__img {
    margin-right: 15px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      font-size: 16px;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__price {
        font-size: 24px;
      }

      &__buttons {
        display: flex;
        align-items: center;
        position: relative;

        &__like {
          padding: 10px;
          &:hover,
          &:active,
          &:focus-visible {
            svg {
              path {
                stroke: red;
                fill: red;
              }
            }
          }
        }
      }
    }
  }
}

.liked {
  svg {
    path {
      stroke: red;
      fill: red;
    }
  }
}

.dropdownMenu {
  position: absolute;
  max-width: 245px;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.dropdownItem {
  padding: 15px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f0f0f0;
  color: $c-color-dark;
}
