.editableInfo {
  display: inline-flex;
  width: min-content;
  &__info {
    display: inline-block;
    margin-right: 7px;
    font-weight: 300;
    font-size: 24px;
    padding: 4px;
  }
  &__input {
    display: inline-block;
    outline: none;
    padding: 2;
    margin-right: 7px;
    width: 130px;
    font-size: 24px;
    background-color: transparent;
    border: 1px solid transparent;

    &:active,
    &:focus-visible {
      border: 1px solid white;
    }
  }

  &__button {
    cursor: pointer;
  }
}

.light {
  border-color: transparent;

  &:active,
  &:focus-visible {
    border-color: black;
  }
}