@import url("./utils/normalize.scss");
@import "./utils/varialables.scss";

.main {
  &__top {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    &__left {
      min-width: 401px;
    }
    &__right {
      width: 100%;
      margin-left: 15px;
      &__flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 15px;
        gap: 15px;
      }
    }
  }

  &__bottom {
    width: 100%;
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      margin-top: 15px;
    }
  }
}

.items {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  &__list {
    overflow: scroll;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1280px;

  &__left {
    margin-right: 15px;
  }

  &__right {
    width: 100%;
  }
}

.tender {
  margin-top: 15px;

  &__header {
    display: flex;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    font-weight: 300;

    & span {
      margin-right: 15px;
      & svg {
        display: block;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__content {
    padding: 15px;

    &__info {
      margin-left: 3px;
      color: $subtext-dark;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;

    &__button {
      display: flex !important;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 37px;
      margin-right: 0px !important;
      padding: 0px !important;
    }

    & span {
      margin-right: 15px;
    }
  }

  &__list {
    &__item {
      display: flex;
      margin-top: 15px;

      & div {
        flex-grow: 1;
      }

      &__buttons {
        display: flex;
        align-self: flex-start;

        & a {
          display: flex;
          align-items: center;
          height: 46px;
          margin-left: 15px;
          margin-right: 0px !important;
        }
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f2229;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $accent;
}

input:focus + .slider {
  box-shadow: 0 0 1px $accent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark {
  background-color: $c-color-dark;
  color: white;

  &::placeholder {
    color: white;
  }
}

.light {
  background-color: $c-color-light;
  color: $text-light;

  &::placeholder {
    color: $text-light;
  }
}
