@import url("./utils/normalize.scss");


.main {
    &__top {
        display: flex;
        &__left {
            min-width: 401px;
        }
        &__right {
            margin-left: 15px;
            &__flex {
                display: flex;
            }
        }
    }

    &__bottom {
        &__list {
            display: flex;
            flex-wrap: wrap;

            &__item {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}