@import "../../utils/varialables.scss";

.listOfCalc {
  padding: 15px;
  background-color: $c-color-dark;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;

  &__list {
    color: white;

    &__item {
      margin-bottom: 20px;
    }
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    color: $subtext-dark;
  }
}
